.device-card {
  margin-top: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.margin-left {
  margin-left: 8px;
}

.device-card-header {
  display: flex;
  align-items: center;
  border-left: 4px solid #409eff;
  border-bottom: 1px solid #ebebeb;
  padding: 6px 8px;

}

.m-device-opt .el-radio + .el-radio {
  margin-left: 0;
}

.m-device-opt .el-checkbox + .el-checkbox {
  margin-left: 0;
}

.m-device-opt .el-radio, .m-device-opt .el-checkbox {
  margin-right: 10px;
  cursor: auto;
}
//slider
.my-slider-box {
  padding: 8px 16px;display: flex;align-items: center;
}
.igrs-slider{
  flex: 1 1 0;
}
.igrs-number-input{
  margin-left: 8px;
}
.igrs-slider .el-slider__runway .el-slider__bar{
  background-color: #409EFF;
}
.el-slider__button-wrapper {
  z-index: 1;
}
.my-card-shadow{
  background: #fff;
  border: 1px solid #dcdfe6;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
  //overflow: scroll;
}
.total-toggle-layout{
  //background-color: #f6f6f6;
  background: linear-gradient(#f8f8f8, #f2f2f2);
  border-bottom: 1px solid #d4d4d4;
}
.padding{
  padding: 16px;
}
.padding-10{
  padding: 10px;
}
//radio-button
.igrs-radio-btn{
  border: none;
  background-color: transparent;
  font-size: 12px;
  color: #606266;
}
.igrs-radio-btn+.igrs-radio-btn{
  margin-left: 5px;
}
.igrs-radio-btn >.el-radio-button__inner{
  padding:8px 14px;border: 1px solid #dcdfe6;font-size: 12px;border-radius: 20px;
}
.igrs-radio-btn:first-child >.el-radio-button__inner,.igrs-radio-btn:last-child >.el-radio-button__inner{
  border-radius: 20px;
}

.igrs-radio-btn >.el-radio-button__orig-radio:checked+ .el-radio-button__inner,.igrs-radio-btn >.el-radio-button__inner:hover{
   background-color: #fff;box-shadow: none;color:#409EFF;border: 1px solid #409EFF;
}
.igrs-checkbox{}

.igrs-checkbox >.el-checkbox__input.is-disabled .el-checkbox__inner{
  background-color: #fff;
}
.igrs-checkbox >.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner{
  background-color: #409EFF;
  border-color: #409EFF;
}
.igrs-checkbox >.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after{
  border-color: #fff;
}
.igrs-checkbox >.el-checkbox__input.is-disabled+span.el-checkbox__label{
  color: #606266;
}
.igrs-checkbox >.el-checkbox__input.is-disabled.is-checked+span.el-checkbox__label{
  color: #409EFF;
}
.igrs-radio{}
.igrs-radio >.el-radio__input.is-disabled .el-radio__inner{
  background-color: #fff;
  border-color: #dcdfe6;
  box-shadow:none!important;
}
.igrs-radio >.el-radio__input.is-disabled.is-checked .el-radio__inner{
  background-color: #409EFF;
  border-color: #409EFF
}
.igrs-radio >.el-radio__input.is-disabled.is-checked .el-radio__inner::after{
  background-color: #fff;
}
.igrs-radio >.el-radio__input.is-disabled+span.el-radio__label{
  color: #606266;
}
.igrs-radio >.el-radio__input.is-disabled.is-checked+span.el-radio__label{
  color: #409EFF;
}

.igrs-round{
  border-radius: 20px;
}
.igrs-button,.igrs-button:focus{
  border: 1px solid #dcdfe6;
  background-color: #ffffff;
  color: #606266;
}
.igrs-button:hover,.igrs-button.active,.igrs-button.activated{
  background-color: #409EFF;
  border: 1px solid #409EFF;
  color: #ffffff;
}
.igrs-button-outline,.igrs-button-outline:focus{
  border: 1px solid #dcdfe6;
  background-color: #ffffff;
  color: #606266;
}
.igrs-button-outline:hover,.igrs-button-outline.active,.igrs-button-outline.activated{
  background-color: #ffffff;
  border: 1px solid #409EFF;
  color: #409EFF;
}
.igrs-btn-bar{

}
.igrs-btn-bar>.el-button{
  margin-left: 0;border-radius: 0;border-left:none
}
.igrs-btn-bar>.el-button:first-child{
  border-left: 1px solid #dcdfe6;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.igrs-btn-bar>.el-button:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.igrs-dropdown{

}
.igrs-dropdown .el-button{
  padding: 8px 16px;
}
/** 自定义授权框*/
.custom-dialog{
  width: 80%;
  max-width: 740px;
}
.custom-dialog .el-dialog__header{
  background-color: #e5e5e5;
}

.igrs-switch-txt{
  color: #333;
  font-size: 14px;
  vertical-align: middle;
}

/*** 设备卡片**/
.device-layout {
  display: flex;
  flex-wrap: wrap;
}
.device-item-card {
  width:50%;
  text-align: center;
  padding: 10px 10px 0;
  overflow: hidden;
}
.content-card{
  position: relative;padding: 10px;
  border: 1px solid #e1e0e0;
  overflow: hidden;
}
.device-img-layout{
  position: relative;margin: -16px 0 10px;overflow: hidden;
}
.igrs-device-image {
  width: 100%;
  display: block;
}

.igrs-device-toggle {
  position: absolute!important;left: 50%; margin-left: -28px;bottom: 14px;
}

.igrs-device-name {
  font-size: 14px;line-height: 16px;height: 32px;overflow: hidden;margin-top: 10px;
}
@media only screen and (max-width:480px) {
  .igrs-device-name {
    //text-align: left;
  }
  .igrs-device-toggle{
    //bottom: 14px;
  }
}
@media only screen and (min-width:800px) {
  .device-item-card{
    width: 25%;
  }
}
@media only screen and (min-width:1280px) {
  .device-item-card{
    width: 20%;
  }
}
.igrs-popover{
  padding: 12px 0; min-width: 100px;
}
.text-center{
  text-align: center;
}
.igrs-loading{
}
.igrs-loading .el-loading-spinner .el-loading-text{
     font-size: 18px;
}
